.auth{
  .wrapper{
    $wrapper-padding: 40px;
    padding: $wrapper-padding;
    padding-bottom: $wrapper-padding * 1.5;
    padding-top: $wrapper-padding / 2;
  }
  .text-input{
    margin-top: 20px;
    input{
      // color: #484848;
      font-size: 13px;
      font-weight: bold;
    }
    input::placeholder{
      color: #b1b1b1;
      font-size: 13px;
      font-weight: 100;
    }
  }
  .info-text{
    margin-top: 5px;
    color : #838383;
    font-size: 13px;
    a{
      color: #067be2;
    }
  }
  .forgot-password{
    margin-top: 20px;
  }
  .error-text{
    color: #fb133a;
    margin-bottom: -15px;
    margin-left: 10px;
  }
  .submit-button{
    background-color: #228be6;
    margin-top: 30px;
    min-height: 45px;
    width: 100%;
    font-size: 13px;
    border-radius: 100px;
    &.disabled{
      background-color: #228be6;
      color: white;
    }
  }
}
